body {
    /*background: #FAFAFA;*/
    /*background: linear-gradient(to bottom, #aee3f3, #0ecc6d , #ef8e38); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
}

.content {
    margin-top: 80px;
    min-height: 700px;
    padding-top: 20px;
}


.spinner__in_posts {
    display: block;
    margin: 0 auto 10px;
    width: auto;
    min-height: 280px;
    /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    /* border: 1px solid red; */
}

.spinner__in_posts_inner {
    margin: 0 auto;
    width: 280px;
}