body {
    padding: 0;
    margin: 0;
    background: #108dc7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ef8e38, #108dc7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #aee3f3, #ef8e38); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}